{% extends "base.html" %}
{% block title %} Home - Code_Website {% endblock %}


{% block content %}
    <div class="div2 white fontsize" id="dosis">
       
        
        <h1>
           Bit of Background<img src="/static/Images/coding.png" width="280" height="280" style="float: right;">
       </h1>
       
       <div class="div-p white fontsize" id="dosis">
        
        <p>
            Hello!
        </p>
        
        <p>
            My Name is Code_Win, a high schooler from California that REALLY likes coding, volleyball, and obviously video games.
        </p>
        
        <p>
            One of my main passions is learning about a lot of things at the same time. I love learning about new things such as linux, operating systems, and a bunch of different coding languages.
        </p>
            
        <p>
            I also listen to a lot of music. Some artists that I listen to are AJR, Saint Motel, and Cosmo Sheldrake.
        </p>
        <p>
            Some other video games that I play are No Man's Sky, Minecraft, and Trackmania.
        </p>
        <p>
            Right now I am working on a series of projects for my ninth grade year. This is actually my first project that I am going to post on GitHub.
        </p>
        <p>
            &nbsp;
        </p>
       </div>
       
    </div>
    <div class="div3 white fontsize right" id="dosis">
         <h1>
             Experience
         </h1>  
         <div class="div-p white fontsize" id="dosis">
             <p>
                 I have been coding in python for a few years now, mostly on and off from websites.<img src="/static/Images/vsc.png" width="300" height="300" style="float: left;">
             </p>
             <p>
                 After that, in around 2018, I started working on Unity with C# which was also on and off. 
             </p>
             <p>
                 In 7th grade, I enrolled in a basic coding course in my school, which taught me basic html code, and taught me javascript. 
             </p>
             <p>
                 However, it was incredibly simple, and was used on a simple coding website.
             </p>
             <p>
                 For the next few years, I kind of switched back and forth from coding, and didn't really make much progress in my skill.
             </p>
             <p>
                 However, just recently, in October, I started a system where, each month, I have a project to complete by the end of the month. 
             </p>
             <p>
                 This being the first project, I started off by making a simple local webserver in python and connecting it to html.
             </p>
         </div> 


    </div>
{% endblock %}
