{% extends "base.html" %}
{% block title %} Login - Code_Website {% endblock %}


{% block content %}
<form method="post">
    <div align="center">
        <div align="center" class="border dosis">
           <div class="header dosis">
              <h1 class="word">Log In</h1>
           </div></br></br></br>
          <h2 class="word dosis">
              <form action="{{ url_for('auth.sign_up') }}" method="post">
                <div class="msg dosis">{{ msg }}</div>
                  <input id="username" name="username" type="text" placeholder="Enter Your Username" class="textbox"/></br></br>
                  <input id="password" name="password" type="password" placeholder="Enter Your Password" class="textbox"/></br></br>
                  <input type="submit" class="btn" value="Log In"></br>
              </form>
          </h2>
          <p class="bottom" >Don't have an account?  <a class="bottom" href="{{url_for('auth.sign_up')}}"> Register here!</a></p>
        </div>
      </div>    
</form>
{% endblock %}