
body {
    background-color: rgb(63, 63, 63);
}
.arial {
    font-family: Arial, Helvetica, sans-serif;
}
.timesnewroman {
    font-family: 'Times New Roman', Times, serif;
}
.other {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
  
.h1 {
    font-size: 60px;
}

.button1 {
    border: rgb(145, 43, 43);
    color: rgb(177, 177, 177);
    padding: 16px 32px;
    text-align: center;
    text-decoration: rgb(63, 63, 63);
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: rgb(110, 110, 110);
}
.button1:hover {
    background-color: rgb(153, 153, 153);
    color: rgb(255, 255, 255);
}
.div1{
    border: 3px outset grey;
    position: relative;
}
.div2{
    position: relative;
    margin: auto; 
    width: 80%;
}
.div3{
    position: relative;
    margin: auto;
    width: 75%;
    
}
.right{
    text-align: right;
}
.center-button {
    margin: 0;
    position: absolute;
    top:15%;
    left: 20%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.white{
    color: rgb(190, 190, 190);
}
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition-duration: 0.4s;
    align-items: center;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(151, 110, 110);
    color: rgb(250, 250, 250);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #6b6b6b;
    color: white;
  }
  @font-face {
      font-family: dosis;
      src: url(/static/Fonts/Dosis-Bold.ttf);
  }
  @font-face {
      font-family: navdosis;
      src: url(/static/Fonts/Dosis-Bold.ttf);
  }
  .centerdiv{
    margin: auto;
    width: 12.5%;
  }
  .div-p{
    position: relative;
    margin: auto;
    width: 98%;
  }
  .bg-color{
      background-color: rgb(63, 63, 63);
  }
  .header{
    padding: 5px 12px;
    width: 150px;
    height: 35px;
    background-color: rgb(63, 63, 63);
}

.border{
    padding: 80px 50px;
    width: 400px;
    height: 450px;
<<<<<<< HEAD
=======
    border: 1px solid rgb(63, 63, 63);
>>>>>>> b969336e1def8621c71821448b5b298655eed56f
    border-radius: 0px;
    background-color: rgb(63, 63, 63);
}

.btn {
    padding: 10px 40px;
    background-color: rgb(63, 63, 63);
    color: #FFFFFF;
    transition-duration: 0.4s;
    
}
.btn:hover{
    background-color: rgb(151, 110, 110);
    color: rgb(250, 250, 250);
}

.textbox{
    padding: 10px 40px;
    background-color: rgb(63, 63, 63); 
    color: #FFFFFF;
<<<<<<< HEAD
    
=======
    border-radius: 10px;
>>>>>>> b969336e1def8621c71821448b5b298655eed56f
}
      
::placeholder {
    color: #FFFFFF;
    opacity: 1;
    font-family: dosis;

}

.word{
    color: #FFFFFF;
    
}

.bottom{
    color: white;
}
.dosis{
    font-family: dosis;
}
<<<<<<< HEAD
  
=======
  
>>>>>>> b969336e1def8621c71821448b5b298655eed56f
